<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/templatestudio"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap genTemplate">

  <Identity
    Name="670c0e3e-75f3-43f9-b868-b6162120accb"
    Publisher="CN=Forairaaaaa"
    Version="2023.2.5.0" />
    
  <mp:PhoneIdentity PhoneProductId="670c0e3e-75f3-43f9-b868-b6162120accb" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
    
  <Properties>
    <DisplayName>Lucy</DisplayName>
    <PublisherDisplayName>Forairaaaaa</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  ShortName="Lucy" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
          <desktop:Extension Category="windows.toastNotificationActivation">
              <desktop:ToastNotificationActivation ToastActivatorCLSID="3197e6c1-9be6-4dde-a622-61b8b5a9b7e7" />
          </desktop:Extension>

          <com:Extension Category="windows.comServer">
              <com:ComServer>
                  <com:ExeServer Executable="Lucy.exe" Arguments="----AppNotificationActivated:" DisplayName="Toast activator">
                      <com:Class Id="3197e6c1-9be6-4dde-a622-61b8b5a9b7e7" DisplayName="Toast activator"/>
                  </com:ExeServer>
              </com:ComServer>
          </com:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <genTemplate:Metadata>
    <genTemplate:Item Name="generator" Value="Template Studio"/>
    <genTemplate:Item Name="wizardVersion" Version="v5.4" />
    <genTemplate:Item Name="projectType" Value="Blank" />
    <genTemplate:Item Name="framework" Value="MVVMToolkit" />
    <genTemplate:Item Name="platform" Value="WinUI" />
    <genTemplate:Item Name="appmodel" Value="Desktop" />
  </genTemplate:Metadata>
</Package>
